
/* header start */

.header {
  min-height: 100vh;
  
  background: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.60) 31.64%, rgba(51, 51, 51, 0.22) 74.35%, rgba(51, 51, 51, 0.00) 99.87%),
  url(../images/header-bgi.jpg);
  

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 0 45px;
  align-items: center;
  
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.nav__item {
  transform-style: preserve-3d;
  perspective: 200px;
}

.nav__link {
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav__link:hover {
  color: var(--celadon-color);

  transform: translateZ(20px);
}

.nav__item:first-child {
  border-bottom: 1px solid #00B2A0;
}

.nav__item:last-child {
  margin-right: 125px;
}

.header__title {
  padding-top: 210px;

  font-family: var(--h2-family);
  font-size: 200px;
  font-weight: 700;
  line-height: normal;
  color: var(--h1-color);
  text-align: center;
  text-transform: uppercase;
}

.header__text {
  margin-bottom: 315px;

  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #000;
}

.header-pic {
  display: flex;
  justify-content: center;
}

.header__btn {
  display: none;
  position: relative;
  width: 50px;
  height: 30px;
}

.burger-line {
    display: block;
    width: 45px;
    height: 2px;
    background: #1298a1;
  }

  .header__btn::after,
  .header__btn::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background: #1298a1;
    left: 0;
  }

.header__btn::before {
    top: 0
}

.header__btn::after {
    bottom: 0;
}

.burger-menu {
  position: fixed;
    top: 0;
    right: -100%; 
    width: 300px;
    height: 100vh;
    background: #09667df2;
    z-index: 1000;
    transition: right 0.3s ease;
    overflow-y: auto;
}

.burger-menu__inner {
    position: relative;
    z-index: 1;
    padding: 60px 20px 20px;
    color: white;
}

.burger-menu__close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1002;
}

.rightside-menu--close {
    right: -100%;
}

.rightside-menu--open {
    right: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay--active {
    opacity: 1;
    visibility: visible;
}

.burger-menu__list {
    margin-bottom: 30px;
}

.burger-menu__item {
    padding: 10px 0;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.burger-menu__sublist {
    padding-left: 20px;
    margin-top: 10px;
}

.burger-menu__subitem {
    padding: 5px 0;
    font-size: 16px;
    opacity: 0.8;
}

.burger-menu__contact {
    margin-top: 30px;
}

.burger-menu__title {
    font-size: 20px;
    margin-bottom: 15px;
    
}

.burger-menu__info {
    margin-bottom: 15px;
}

.burger-menu__tel,
.burger-menu__mail {
    display: block;
    color: white;
    margin-bottom: 5px;
}

.burger-menu__address {
    margin-bottom: 20px;
    font-style: normal;
    opacity: 0.8;
}

.burger-menu__social {
    display: flex;
    gap: 15px;
}

.burger-menu__social-img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.burger-menu__social-img:hover {
    transform: scale(1.1);
}



/* header end */

/* main start */

/* section info start */

.info__title {
  padding: 100px 0 85px;
}

.info__text {
  margin-bottom: 100px;

  display: grid;
  grid-template-columns: 480px 480px;
  grid-template-rows: repeat(4, 1fr);
  gap: 30px 120px;
}

/* section info end */

/* section conditions start */

.progress-bar {
  width: 200px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 10px 0;
}

.progress-fill {
  height: 100%;
  background-color: #4CAF50;
  border-radius: 10px;
  width: 0;
  transition: width 1.5s ease-in-out;
}

.progress-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-weight: bold;
  font-size: 14px;
  z-index: 1;
}

.conditions {
  background-color: #F8F8F8;
}

.conditions__title {
  padding: 100px 0 85px;
}

.conditions-top {
  margin-bottom: 100px;

  display: flex;
  justify-content: center;
  gap: 0 75px;
}

.accommodation {
  max-width: 365px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0;
}

.conditions-top__title {
font-size: 24px;
font-weight: 400;
line-height: 1.16;
text-transform: uppercase;
}

.accommodation__title {
  max-width: 155px;
  padding-top: 17px; 
  margin-left: 65px;
  margin-bottom: 8px;

  text-align: center;

  position: relative;
  }

.accommodation__title::before {
  content: "";
  width: 55px;
  height: 50px;
  left: -60px;
  top: 2px;
  position: absolute;

  background-image: url(../images/box__title.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  } 

.flight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0;
}
  
.flight__title {
  width: 124px;
  margin-left: 65px;

  position: relative;
} 
  
.flight__title::before {
  content: "";
  width: 50px;
  height: 50px;

  left: -58px;
  top: 2px;
  position: absolute;
  
  background-image: url(../images/box__title2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  
}
.conditions-top__text {
  max-width: 350px;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0;
}

.education__title {
  max-width: 146px;
  margin-left: 65px;

  position: relative;
}

.education__title::before {
  content: "";
  width: 50px;
  height: 50px;

  left: -58px;
  top: 2px;
  position: absolute;

  background-image: url(../images/box__title3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  
}

.conditions-bottom {
  margin-bottom: 100px;

  display: flex;
  justify-content: space-around;
  gap: 0 10px;
}

.visit_interest {
  font-size: 24px;
  font-weight: 400;
  line-height: 0.75;
}

.visit__text {
  margin-bottom: 18px;
}

.methodology__text {
  max-width: 600px;
}

.methodology__text:not(:last-child) {
  margin-bottom: 30px;
}

/* section conditions end */

/* section peaks start */

.peaks__inner {
  padding-bottom: 100px;

  display: flex;
  justify-content: space-between;
}

.peaks__list {

  flex-basis: 515px;
}

.peaks__title {
  padding: 100px 0 85px;
}

.peaks__item:not(:last-child) {
  margin-bottom: 30px;
}

.peaks-img {
  display: block;
  max-width: 100%;

  height: auto;

  object-fit: cover;
}

/* section peaks end */

/* section gallery start */

.gallery__title {
  margin-bottom: 100px;
}

.gallery-nav__list {
  display: flex;
  gap: 20px;

  font-size: 24px;
  font-weight: 400;
  line-height: 0.75;
  text-transform: uppercase;
}

.gallery-nav__item {
  transform-style: preserve-3d;
  perspective: 200px;
}

.gallery-nav__link {
  display: inline-block;

  transition: transform 0.3s ease, color 0.3s ease;
}

.gallery-nav__link:hover {
  color: var(--celadon-color);

  transform: translateZ(20px);
}

.gallery-nav {
  margin-bottom: 50px;
}

.gallery-foto__list {
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}

.gallery-foto__item {
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    position: relative;
    border-radius: 15px;
}

.gallery-foto__item:hover {
  transform: translateY(-5px); 
}

.gallery-foto__img {
  width: 100%;          
  height: 100%;         
  
  object-fit: cover; 
  cursor: pointer;   
  overflow: hidden;
}

.gallery-foto__item:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}

.gallery-foto__item:nth-child(6) {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

.gallery-foto__btn {
  margin: 50px auto 85px;
  padding: 23px 91px;

  display: flex;
  justify-content: center; 

  font-family: inherit;
  font-size: 24px;
  line-height: 0.75;
  text-transform: uppercase;

  border: 1px solid #C4C4C4;

  transition: 0.5s ease;
}

.gallery-foto__btn:hover {
  font-family: inherit;
  
  background-color: var(--celadon-color);
}

.hidden { 
  display: none; 
}

.gallery-nav__link.active {
  text-decoration: underline;
  font-weight: bold;
  color: var(--celadon-color);
}

/* section gallery end */

/* section idea start */

.idea {
  background-color: #F8F8F8;
}

.idea__blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idea__text {
  padding-top: 50px;

  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.11;
}
.idea__name {
  margin-bottom: 50px;
  margin-right: 150px;

  font-style: italic;

  align-self: flex-end;
}

/* section idea end */

/* section video start */

.video {
  margin-bottom: 85px;
}

.video__inner {
  max-width: 1200px;
  height: 600px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  position: relative;
}

.video__poster,
.video__content {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
}

.video__content {
  z-index: 2;
  opacity: 0;            
  pointer-events: none;  
  transition: opacity 0.3s ease;
}

.video__poster {
  z-index: 1; 
}

.video__play { opacity: 1; pointer-events: auto; }
.video__pause { opacity: 0; pointer-events: none; }


.video__play,
.video__pause {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10%;           
  max-width: 120px;    
  height: auto;
  transform: translate(-50%, -50%);

  cursor: pointer;
  z-index: 3;
  transition: transform 0.15s ease, opacity 0.15s ease;
}

.video__inner.is-playing .video__play {
  opacity: 0;
  pointer-events: none;
}

.video__inner.is-playing:hover .video__pause {
  opacity: 1;
  pointer-events: auto;
}

.video__play:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

/* section video end */

/* section indicators start */

.indicators {
  margin-bottom: 50px;
}

.indicators__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 100px;
}
.indicators__item {
  margin-bottom: 50px;
}
.indicators__title {
  color: var(--h2-color);
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.indicators__text {
  text-align: center;
}

/* section indicators end */

/* section slider start */

.slider {
  margin-bottom: 100px;
  position: relative;
}

.slider__title {
  margin-bottom: 85px;
}

.slider__top {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}


.slider__top-item {
  position: relative;
  max-height: 600px; 
  overflow: hidden;
}

.slider__top-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.slider__top-info {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%); 
  text-align: center;
  color: #fff;
  width: 100%;
  max-width: 900px;
  padding: 0 20px; 
}

.slider__top-title {
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.16;
  margin-bottom: 20px;
  text-transform: uppercase;
  white-space: normal; 
}

.slider__top-text {
  color: #fff;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.slider-arrow:hover {
  background: rgba(0,0,0,0.8);
}

.slider-prev { 
  left: calc((100% - 1000px)/2 - 40px); 
} 
.slider-next {
  right: calc((100% - 1000px)/2 - 40px); 
}

/* section slider end */

/* section team start */

.team {
  margin-bottom: 100px;
}

.team__title {
  padding-bottom: 85px;
}

.team__list {
  cursor: pointer;
  overflow: hidden; 

  flex: 1 1 0;           
  display: flex;
  flex-direction: column; 
}

.team__inner {
  display: flex;
  justify-content: space-between; 
  gap: 100px;
}

.team__img {
  width: 100%;
  margin-bottom: 25px;
  height: 100%;
  transition: transform 0.45s cubic-bezier(.2,.8,.2,1);
  object-fit: cover;
  transform-origin: center center;
  will-change: transform;
  border: none;             
}

.team__img-wrapper {
  overflow: hidden; 

  width: 100%;
  aspect-ratio: 11 / 15;    
  
  transition: border-radius 0.4s ease, box-shadow 0.4s ease;
}

.team__list:hover .team__img,
.team__img-wrapper:hover .team__img {
  transform: scale(1.08);    
}

.team__list:hover .team__img-wrapper {
  border-radius: 15px; 
}

.team__subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team__name {
  margin-bottom: 1px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.team__text {
  font-weight: 400;
}

/* section team end */

/* section packages start */

.packages {
  margin-bottom: 50px;
  background-color: #F8F8F8;
}

.packages__title {
  padding-bottom: 50px;
}
.packages__list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  
}

.packages__item {

  position: relative; 
  overflow: hidden;   

  border-radius: 15px;
  padding: 45px 30px;
  
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); 

  transition: all 0.7s ease;
  cursor: pointer;
}

.packages__item::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #00B2A0;
  transform: rotate(45deg);
  box-shadow: 0 0 10px #009dff, 0 0 20px #009dff;
  animation: move-dot 12s linear infinite;
  
  pointer-events: none;
  z-index: 5;
}

@keyframes move-dot {
  0%   { top: -6px; left: -6px; }
  25%  { top: -6px; left: calc(100% - 6px); }
  50%  { top: calc(100% - 6px); left: calc(100% - 6px); }
  75%  { top: calc(100% - 6px); left: -6px; }
  100% { top: -6px; left: -6px; }
}

.packages__item:hover {
  transform: scale(1.05);

  background: linear-gradient(135deg, #00e2a5, #009dff);
}

.packages__subtitle {
  margin-bottom: 55px;

  color: #01353E;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}

.packages__text {
  font-weight: 400;
}

.packages__text:not(:last-of-type) {
  margin-bottom: 20px;
}

.packages__price {
  padding: 60px 0 45px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.packages__price-bottom {
  padding-top: 135px;
}

.packages__number {
  color: #01353E;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}

.packages__dollar {
  color: #01353E;
  font-size: 18px;
  font-weight: 400;
}

/* section packages end */

/* section map start */

.map {
  margin-bottom: 50px;
}

.map__img {
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* section map end */

/* section bid start */

.bid {
  margin-bottom: 50px;
}

.form__title {
  margin-bottom: 85px;
}
.bid__inner {
  display: flex;
  gap: 30px;
}

.bid__form {
  max-width: 570px;
}

.form__name {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;

  border: none;
  border-bottom: 2px solid #DADADA; 

  outline: none;
}

.form__name::placeholder {
  color: #00B2A0;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
}

.form__phone {
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 10px;

  border: none;
  border-bottom: 2px solid #DADADA; 

  outline: none;
}

.form__phone::placeholder {
  color: #00B2A0;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
}

.form__message {
  width: 100%;
  max-height: 150px;
  margin-bottom: 1px;
  padding-bottom: 50px;
  padding-top: 20px;

  font-family: inherit;

  overflow: hidden;
  border: none;
  border-bottom: 2px solid #DADADA; 

  outline: none; 
  resize: none;
}

.form__message::placeholder {
  color: #00B2A0;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
}

.form__btn {
  max-width: 350px;
  margin-top: 45px;
  padding: 20px 100px;

  font-family: inherit;
  font-size: 24px;
  line-height: 0.75;
  letter-spacing: 0.6px;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #C4C4C4;

  cursor: pointer;
  transition: 0.5s ease;
}

.form__btn:hover {
  background-color: var(--celadon-color);
}

.bid-contacts {
  padding: 50px;

  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;

  background-color: #F8F8F8;
}

.bid-contacts__link:hover {
  color: var(--celadon-color);
}

.bid-contacts__link {
  text-decoration-line: underline;
  transition: 0.5s ease;
}

/* section bid end */

/* footer start */

.footer__list {
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
  gap: 20px;

  font-size: 24px;
  font-weight: 400;
}

.footer__item {
  transform-style: preserve-3d;
  perspective: 200px;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.footer__link {
  display: inline-block;

  transition: transform 0.3s ease, color 0.3s ease;
}

.footer__link:hover {
  color: #00B2A0;

  transform: translateZ(20px);
}

.footer__logo {
  padding: 50px 0 50px;

  display: flex;
  justify-content: center;

  background-color: #00B2A0;
}

.footer__logo-link {
  text-align: center;
}

/* footer end */

.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 

  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(3px);
}

.modal__content {
  background: #fff;
  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 12px;
  max-width: 400px;
  text-align: center;
  position: relative;

  top: 50%;
  transform: translateY(-50%);

  box-shadow: 0 10px 30px rgba(0,0,0,0.2);

  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-60%) scale(0.9); }
  to   { opacity: 1; transform: translateY(-50%) scale(1); }
}

.modal__content p {
  font-size: 18px;
  color: #555;
}

.modal__content h2 {
  font-size: 25px;
  color: #555;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;

  color: #0ecf7f;
  transition: color 0.2s ease;
}

.modal__close:hover {
  color: #333;
}

.error-msg {
  display: none;
  color: red;
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
}

@media (max-width: 1085px) {
  .info__text {
    gap: 20px 50px;
  }
}

@media (max-width: 1025px) {
  .peaks__none {
    display: none;
  }

  .peaks-img{
    max-height: 370px;
  }
}

@media (max-width: 1017px) {
  .slider-prev { left: 0; }
  .slider-next { right: 0; }

  .info__text {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }

  .general__title {
    font-size: 35px;
  }
  

  .info__title {
    padding: 75px 45px;
  }

  .conditions__title {
    padding: 75px 45px;
  }

  .conditions-top {
    margin-bottom: 50px;
  }

  .conditions-bottom {
    margin-bottom: 50px;
  }

  .peaks__title {
    padding: 75px 45px;
  }

  .peaks__inner {
    padding-bottom: 50px;
  }

  .gallery__title {
    margin-bottom: 75px;
  }

  .gallery-foto__btn {
    margin: 50px auto 50px;
  }
    
  .general__title::after {
      content: "";
      width: 28px;
      height: 80px;
  }

  .video {
    margin-bottom: 50px;
  }

  .indicators__title {
    font-size: 60px;
  }

  .indicators__item {
    margin-bottom: 20px;
  }

  .slider__title {
    margin-bottom: 50px;
  }

  .slider {
    margin-bottom: 75px;
  }

  .team__title {
    padding-bottom: 75px;
  }


  .nav__list {
      gap: 0 30px;
  }

  .form__title {
    margin-bottom: 75px;
  }
    
  .methodology__text {
      width: 100%;
  }

  .peaks__list {
      margin-right: 0;
  }

  .visit__list {
      min-width: 350px;
  }
}

@media (max-width: 941px) {
  .packages__price-bottom {
    padding-top: 154px;
  }

  .packages__item {
    padding: 30px 20px;
  }

  .packages__text:not(:last-of-type) {
    margin-bottom: 15px;
  }
  
  .packages__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 895px) {
  .nav__list {
    gap: 0 15px;

    font-size: 20px;
  }

  .gallery-foto__list {
    gap: 20px;
  }

  .indicators__list {
    gap: 0 80px;
  }

  .indicators__title {
    font-size: 52px;
  }

  .bid-contacts {
    padding: 20px;

    font-size: 20px;
  }

  .peaks__inner {
    flex-direction: column;
  }

  .peaks__list {
    flex-basis: auto;
  }

  .peaks__img {
    align-self: center;
  }
}

@media (max-width: 835px) {
  .general__title {
    font-size: 28px;
  }

  .info__title {
    padding: 50px 30px;
  }

  .general__title::after {
    content: "";
    width: 20px;
    height: 70px;
  }

  .info__text {
    gap: 15px 20px;
    margin-bottom: 25px;
  }

  .conditions-top {
    gap: 0 15px;
  }

  .conditions-bottom {
    margin-bottom: 25px;
  }

  .peaks__title {
    padding: 50px 30px;
  }

  .peaks__inner {
    padding-bottom: 25px;
  }

  .gallery__title {
    margin-bottom: 60px;
  }

  .idea__text {
    padding-top: 40px;
  }

  .idea__name {
    margin-bottom: 40px;
  }

  .conditions__title {
    padding: 50px 30px;
  }

  .packages__item {
    padding: 25px 15px;
  }

  .packages__price {
    padding: 30px 0 5px;
    
  }

  .packages__price-bottom {
    padding-top: 130px;
  }

  .video {
    margin-bottom: 30px;
  }

  .indicators {
    margin-bottom: 30px;
  }

  .team__title {
    padding-bottom: 50px;
  }

  .slider__top-title {
    font-size: 35px;
  }
}

@media (max-width: 750px) {
  .nav__list {
    gap: 0 10px;

    font-size: 18px;
  }

  .conditions-top__title {
    margin-left: 45px;

    font-size: 20px;
  }

  .conditions-top {
    gap: 10px 10px;
    flex-wrap: wrap;
  }

  .visit__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bid__form {
    max-width: 500px;
    max-width: 100%;
    overflow-x: hidden; 
  }

  .bid-contacts {
    min-width: 175px;
    padding: 10px;

    font-size: 18px;
  }

  .header__title {
    font-size: 150px;
  }

  .packages__item {
    padding: 15px 7px;
  }

  .packages__subtitle {
    font-size: 30px; 
    margin-bottom: 25px;
  }

  .packages__number {
    font-size: 32px;
  }

  .accommodation__title::before {
    width: 44px;
    height: 39px;
  }

  .flight__title::before {
    width: 44px;
    height: 44px;
  }

  .education__title::before {
    width: 44px;
    height: 42px;
  }

  .conditions-top__title {
    margin-left: 75px;

    font-size: 18px;
  }

  .packages__price-bottom {
    padding-top: 120px;
  }
}

@media (max-width: 670px) {

  .info__text {
    gap: 10px 10px;  
    grid-template-rows: repeat(3, 1fr);
  }
  
    .info__none {
      display: none;
    }
  
  .idea__text {
    font-size: 26px;
  }

  .indicators__title {
    font-size: 34px;
  }

  .indicators {
    margin-bottom: 20px;
  }

  .footer__list {
    font-size: 20px;
  }

  .nav__item:first-child {
    margin-left: 35px;

    white-space: nowrap;
  }

  .header__inner {
    justify-content: center;
  }

  .nav__item:last-child {
    margin-right: 0;
  }

  .form__message::placeholder {
    font-size: 17px;
  }

  .form__message {
    margin-bottom: 5px;
    padding-bottom: 20px;
  }

  .indicators__list {
    gap: 0 50px;
  }

  .gallery-nav__list {
    justify-content: center;
  }

  .video__inner {
    height: 300px;
  }

  .video__play {
    width: 60px;
    height: 60px;
  }

  .team__inner {
    gap: 80px;
  }

  .footer__img {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 640px) {

  .packages__subtitle {
    margin-bottom: 20px;
  }

  .methodology__text:not(:last-child) {
    margin-bottom: 25px;
  }

  .conditions-bottom {
    margin-bottom: 20px;
  }

  .conditions-top {
    margin-bottom: 30px;
  }

  .packages__price {
    padding: 20px 0 5px;
  }

  .packages__price-bottom {
    padding-top: 100px;
  }
  
  .packages__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .packages__item {
    flex: 1 1 45%; 
    max-width: 280px;
  }

  .packages__text:not(:last-of-type) {
    margin-bottom: 8px;
  }  

  .form__btn {
    max-width: 295px;
  }
}

@media (max-width: 618px) {
  .packages__item {
    font-size: 13px;
  }

  .packages__price-bottom {
    margin-bottom: 5px;
  }
}

@media (max-width: 580px) {
  .visit__list {
    margin-bottom: 20px;
  }

  .info__none2 {
    display: none
  }

  .peaks__item:not(:last-child) {
    margin-bottom: 25px;
  }

  .info__text {
    grid-template-columns: 1fr;
    margin-bottom: 10px;
  }

  .header__inner {
    justify-content: space-between;
  }

  .nav {
    display: none;
  }

  .header__btn {
    display: block;
  }

  .bid__inner {
    flex-direction: column;
    align-items: center;
  }

  .bid__form {
    display: flex;
    flex-direction: column;
  }

  .header__title {
    font-size: 100px;
  }

  .nav__list {
    gap: 0 7px;
    font-size: 15px;
  }

  .conditions-bottom {
    margin-bottom: 10px;

    flex-direction: column;
    align-items: center;
    gap: 10px 0;
  }
  .conditions__title {
    padding: 30px 30px;
  }

  .peaks__title {
    padding: 40px 30px;
  }

  .gallery-foto__btn {
    margin: 30px auto 30px;
  }

  .idea__text {
    padding-top: 25px;
  }

  .idea__name {
    margin-bottom: 25px;
  }

  .video {
    margin-bottom: 25px;
  }

  .indicators__item {
    margin-bottom: 10px;
  }

  .slider {
    margin-bottom: 50px;
  }

  .team {
    margin-bottom: 40px;
  }

  .form__title {
    margin-bottom: 65px;
  }

  .bid {
    margin-bottom: 30px;
  }

  .packages {
    margin-bottom: 30px;
  }

  .general__title {
    font-size: 22px;
  }

  .info__title {
    padding: 30px 30px;
  }

  .indicators__list {
    gap: 0 30px;
  }

  .footer__list {
    font-size: 18px;
  }

  .nav__list {
    font-size: 12px;
    margin-bottom: 25px;
  }

  .header__logo-img {
    width: 40px;
    height: 40px;
  }

  .idea__name {
    margin-right: 0;

    align-self: center;
  }

  .team__inner {
    gap: 70px;
  }

  .team__text {
    text-align: center;
  }

  .gallery-foto__list {
    gap: 10px;
  }

  .bid-contacts {
    gap: 20px;
  }

  .slider__top-title {
    font-size: 30px;
  }

  .slider__top-text {
    font-size: 13px; 
  }
} 

@media (max-width: 475px){

  .nav__item:first-child {
    margin-left: 10px;
  }

  .peaks__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .peaks__inner {
    padding-bottom: 15px;
  }

  .indicators__title {
    font-size: 30px;
  }

  .idea__text {
    font-size: 20px;
    margin-bottom: 7px;
  }

  .gallery-nav__list {
    gap: 10px;

    font-size: 20px;
  }

  .gallery-foto__btn {
    padding: 20px 40px;
    font-size: 22px;
  }

  .video__play {
    width: 60px;
    height: 60px;
  }

  .team__inner {
    gap: 30px;
  }

  .form__message::placeholder {
    font-size: 15px;
  }

  .form__btn {
    width: 325px;
    padding: 20px 40px;
    font-size: 22px;
  }

  .peaks__item {
    text-align: center;
  }

  .indicators__list {
    gap: 0 20px;
  }

  .packages__subtitle {
    margin-bottom: 17px;
    font-size: 23px;
  }

  .packages__text {
    font-size: 12px;
  }

  .packages__number {
    font-size: 25px;
  }

  .general__title::after {
    width: 15px;
    height: 58px;
  }

  .header__logo-img {
    width: 35px;
  }

  .info__title {
    
    font-size: 20px;
  }
  
  .conditions-top {
    margin-bottom: 50px;
  }
  
  .peaks__title  {
    padding: 30px 30px;
  }

  .gallery__title {
    margin-bottom: 50px;
  }

  .team__title {
    padding-bottom: 40px;
  }

  .slider__title {
    margin-bottom: 40px;
  }

  .form__title {
    margin-bottom: 50px;
  }

  .footer__logo {
    padding: 30px 0 30px;
  }

  .footer__social {
    flex-direction: column;
  }

  .slider__top-title {
    font-size: 25px;
  }

  .slider__top-text {
    font-size: 12px;
  }
}

@media (max-width: 415px) {
  .packages__price-bottom {
    padding-top: 12px;
  }

  .info__none3 {
    display: none;
  }
}

@media (max-width: 410px) {
  .indicators__list {
    gap: 0 10px;
    align-items: flex-start;
  }

  .team__text {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .packages__subtitle {
    margin-bottom: 10px;
  }

  .conditions-bottom {
    margin-bottom: 2px;
  }

  .footer__list {
    margin-bottom: 25px;
  }

  .footer__logo {
    padding: 25px 0 25px;
  }

  .bid {
    margin-bottom: 20px;
  }

  .gallery-foto__list {
    margin-bottom: 25px;
  }

  .gallery-nav {
    margin-bottom: 25px;
  }

  .gallery-foto__btn {
    font-size: 20px;
    padding: 15px 35px;
    margin: 15px auto 15px;
  }

  .form__btn {
    padding: 15px 35px;
    max-width: 270px;
    font-size: 20px;
  }
  
  .visit__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }

  .nav__list {
    gap: 0 4px;
  }

  .header__title {
    font-size: 95px;
  }

  .header__text {
    font-size: 22px;
  }

  .visit__list {
    min-width: 300px;
  }

  .visit_interest {
    font-size: 20px;
  }  
}

@media (max-width: 360px) {
  .idea__text {
    font-size: 17px;
  }

  .idea__name {
    font-size: 13px;
    align-self: end;
  }

  .indicators__title {
    font-size: 28px;
  }

  .indicators {
    margin-bottom: 10px;
  }

  .video {
    margin-bottom: 20px;
  }

  .slider__title {
    margin-bottom: 25px;
  }

  .indicators__item {
    margin-bottom: 5px;
  }

  .team {
    margin-bottom: 25px;
  }

  .packages__title {
    padding-bottom: 30px;
  }
}

@media (max-width: 350px) {

  .header__title {
    font-size: 75px;
    margin-bottom: 20px;
  }

  .conditions__title {
    font-size: 20px;
  }

  .info__title {
    font-size: 18px;
  }

  .footer__logo {
    padding: 20px 0 20px;
  }
}



















